/* Header */
 header {
    background-color: rgba(0, 0, 0, .85);
    opacity: 0.5;
    position: fixed;
    width: 100%;
    z-index: 10;
  }

  .site-header {
    margin: 30px 15px;   
    text-align: center;
  }
  
  .site-header a {
    color: #999;
    margin: 0.625em 1em;
  }
  
  .site-header a:hover {
    color: #FFF;
    text-decoration: none;
  } 