@import url("header.css");
@import url("footer.css");
@import url("buttons.css");
@import url("form.css");
@import url("details_page.css");
/* Core Styles */

:root {
  font-size: 0.75em;
  /* 14px */
}

body {
  margin: 0;
  background: rgb(109, 109, 109);
  color: #dfdfdf;
  line-height: 1.5;
  text-align: center;
}

body, input, button, select, option, textarea {
  font-family: 'Oswald', sans-serif;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1, h2, h3 {
  margin: 0;
}

p {
  margin: 0;
  padding: 1em 0;
}

main .bg-image {
  background: rgb(109, 109, 109) url('../img/pancake.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 90vmax;
  z-index: -1;
  opacity: 0.4;
}

/* Menu */

.menu-links {
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
}

.dark {
  color: #333;
}

.bright {
  color: #f44336;
}

/* Home page */

#welcome-box {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

#welcome-box h1 {
  font-size: 3rem;
}

/* White container*/

.container {
  background-color: #fff;
  color: rgb(68, 68, 68);
  ;
  min-height: 500px;
  position: absolute;
  top: 30%;
  margin: 0 10%;
  margin-bottom: 15%;
  padding: 4% 5%;
  min-width: 65vw;
}

.recipe-links a {
  margin: 0.625em 0.2em;
}

.recipe-links a:hover {
  color: red;
}

#search-container {
  text-align: center;
}

#search-container input {
  margin: 5px 0px;
  border-radius: 50px;
}

/* Recipes page (Food container) */

#food-container {
  padding: 5% 0;
}

.food-item {
  background-color: #fff;
  border: 1px solid #e7eaec;
  padding: 30px;
  margin-bottom: 5px;
  color: #333;
}

.food-item img {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.food-item .recipe-title {
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.5px;
  padding: 8px 14px;
  background-color: rgba(0, 0, 0, .85);
  opacity: 0.8;
}

.food-item .text-content {
  background-color: #fff;
}

.food-item h4 {
  margin-top: 0px;
  font-family: 'Spectral', serif;
  font-size: 1em;
  color: #121212;
}

.message {
  text-align: center;
  padding: 1rem;
  font-size: 1.2rem;
}


.message .text404 { 
  font-size: 100px;
  padding: 40px 0;
}

.error-message {
  text-align: center;
  padding: 1rem;
  font-size: 1.2rem;
  color: #f44336; 
}

@media(min-width: 700px) {
  :root {
    font-size: 0.875em;
    /* 16px */
  }
  /* Form "Rezept aendern"*/
  .bild-box img {
    max-width: 30vw;
    padding: 0 10px;
  }
  .bild-box, #search-container {
    display: grid;
    grid-template-columns: 80% auto;
    grid-template-rows: auto;
    gap: 1%;
  }
  /* Grid */
  .grid-col-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1%;
  }
  .grid-col-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1% 1%;
  }
}
